<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/home" class="brand">PayMe</a>

    <button class="burger" (click)="toggleMenu()" aria-label="Menu">
      <i class="fa fa-bars"></i>
    </button>

    <div class="nav-links" [class.open]="menuOpen">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">
        <i class="fa fa-home"></i> Accueil
      </a>
      <a routerLink="/add-friend" routerLinkActive="active" class="nav-link">
        <i class="fa fa-user-plus"></i> Ajouter un ami
      </a>
      <span class="nav-link disabled" title="Bientôt disponible">
        <i class="fa fa-exchange"></i> Transactions
      </span>
      <span class="nav-link disabled" title="Bientôt disponible">
        <i class="fa fa-history"></i> Historique
      </span>
      <span class="nav-link disabled" title="Bientôt disponible">
        <i class="fa fa-bank"></i> Compte bancaire
      </span>
    </div>

    <div class="user-menu">
      <div class="avatar">{{ initials }}</div>
      <button class="btn-logout" (click)="logout()">
        <i class="fa fa-sign-out"></i> Déconnexion
      </button>
    </div>
  </div>
</nav>
